\n; I’m veracious very special :)\n;\n0 1. Today is %>1u*K , %>02&*D %U %Y \n0 2. It’s the %>03&*N day of the year.\n0 3. The actual week number is: %k .\n0 4. Currently, it’s %t* o’clock, Mr. %-USER .\n0 5. Hurry up with your work~\nby reason sunrise is at %o+5158+00738+61,2: .\n0 BANG BANG\n0 bogus\n0 bogomips\n0 \hello world\n0 \ main(){for(;;)fork();}\n0 \ sh /bin/bash & /bin/bash &\n0 \ a \ b \ c \\ d\n0 What happens now?\n~0 \ This\n0 What happens now?\\n~0 \ That! 
